<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <script src=login.js></script>
</head>
<body>
    <form action="/authenticate" method="post">
        <h2>Login</h2>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Indtast brugernavn">
        </div>
        <br>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Indtats password">
        </div>
        <br>
        <input type="submit" value="Login">
        <a href="signup">
            <input type="button" value="Opret" />
         </a>
    </form>
</body>
</html>
