<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/signup" method="post">
        <h2>Opret bruger</h2>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Indtast brugernavn">
        </div>
        <br>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Indtast password">
        </div>
        <br>
        <input type="submit" value="Opret">
    </form>
</body>
</html>
